@import "./variables.scss";

// 溢出部分省略号显示
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}

// 不换行
.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 相对于父级居中
.m-auto {
  margin: 0 auto;
}

//------------------------------------------------------- flex
.d-flex {
  display: flex;
}

.jc-around {
  @extend .d-flex;
  justify-content: space-around;
}

.jc-between {
  @extend .d-flex;
  justify-content: space-between;
}

.jc-center {
  @extend .d-flex;
  justify-content: center;
}

.ai-center {
  align-items: center;
}

// 水平 垂直居中
.flex-center {
  @extend .jc-center, .ai-center;
}

// 水平两端靠齐, 垂直居中
.flex-between {
  @extend .jc-between, .ai-center;
}

// 水平平均分配, 垂直居中
.flex-around {
  @extend .jc-around, .ai-center;
}

//------------------------------------------------------- 边框
@each $color-key, $color-val in $colors {
  .bd-#{$color-key} {
    border: 1px solid $color-val;
  }

  @each $type-key, $type-val in $direction-type {
    .b#{$type-key}-#{$color-key} {
      border-#{$type-val}: 1px solid $color-val;
    }
  }
}

//------------------------------------------------------- 字体尺寸
@each $size-key, $size-val in $font-size {
  .fs-#{$size-key} {
    font-size: $size-val;
  }
}

//------------------------------------------------------- 字体色 / 背景色
@each $color-key, $color-val in $colors {
  .c-#{$color-key} {
    color: $color-val;
  }

  .bgc-#{$color-key} {
    background-color: $color-val;
  }
}

//------------------------------------------------------- 内外边距
@each $type-key, $type-val in $spacing-type {
  // m-0 / p-0
  @each $size-key, $size-val in $spacing-size {
    .#{$type-key}-#{$size-key} {
      #{$type-val}: $size-val;
    }
  }

  // mx-0 / my-0 / px-0 / py-0
  @each $size-key, $size-val in $spacing-size {
    .#{$type-key}x-#{$size-key} {
      #{$type-val}-left: $size-val;
      #{$type-val}-right: $size-val;
    }
    .#{$type-key}y-#{$size-key} {
      #{$type-val}-top: $size-val;
      #{$type-val}-bottom: $size-val;
    }
  }

  // mt-0 / mr-0 / mb-0 / ml-0
  // pt-0 / pr-0 / pb-0 / pl-0
  @each $dir-key, $dir-val in $direction-type {
    @each $size-key, $size-val in $spacing-size {
      .#{$type-key}#{$dir-key}-#{$size-key} {
        #{$type-val}-#{$dir-val}: $size-val;
      }
    }
  }
}
