// 颜色定义规范
$color-background: #222;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #ffcd32;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #fff;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// 颜色变量
$colors: (
  "white": #ffffff,
  "black": #000000,
  "primary": #4f5cd1,
  "text": #333333,
  "tip1": #666666,
  "tip2": #999999,
  "placehold": #cccccc,
  "warning": #ffa73f,
  "up": #11b997,
  "down": #d41136,
);

// 边框颜色
$border-colors: (
  "p": map-get($colors, "primary"),
  "t": map-get($colors, "text"),
);

// -------------------------------------- 字体变量
// 字体尺寸变量
$font-size: (
  "xxxxxs": 18px,
  "xxxxs": 19px,
  "xxxs": 20px,
  "xxs": 22px,
  "xs": 24px,
  "sm": 26px,
  "md": 28px,
  "lg": 30px,
  "xl": 32px,
  "xxl": 34px,
  "xxxl": 36px,
  "xxxxl": 38px,
  "xxxxxl": 40px,
);

// -------------------------------------- 边距变量
// 边距类型
$spacing-type: (
  "m": margin,
  "p": padding,
);

// 边距尺寸
$spacing-size: (
  "0": 0,
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "25": 25px,
  "28": 28px,
  "30": 30px,
  "35": 35px,
  "40": 40px,
  "45": 45px,
  "50": 50px,
  "55": 55px,
  "60": 60px,
  "65": 65px,
  "70": 70px,
);

// -------------------------------------- 工具变量
// 方向类型
$direction-type: (
  "t": top,
  "b": bottom,
  "l": left,
  "r": right,
);
